.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
  background: linear-gradient(90deg, #4c0004 -13%, #000000 40%, #000000 68%, #4c0004);
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}