.CardHistories {
  padding: 50px 0;

  .CardHistories-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .CardHistories-block__design {
      background-color: #ffffff;

      .CardHistories-block__img {
        height: 300px;
        width: 250px;

        > img {
          max-width: 100%;
          max-height: 100%;
        }
      }

    }
  }
}