.BrothersInfo {
  padding: 40px 20px;

  .BrothersInfo-block {
    display: flex;
    justify-content: space-around;

    .BrothersInfo-block__info {
      background-color: darksalmon;

      .BrothersInfo-block__img {
        height: 400px;
        width: 340px;
      }
    }
  }
}