.MainArea {
  width: 100%;
  background: white;
  background: linear-gradient(90deg, #4c0004 -13%, #000000 40%, #000000 68%, #4c0004);
  margin-top: 50px;
  margin-bottom: 50px;

  .MainArea-block {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .MainArea-block__img{
      max-width: 380px;

      >img {
        width: 100%;
      }

    }

  }

}
